<section id="clients" class="clients">
	<div class="clients-in container">
		<div class="row">
			<h3 class="h3 client__header brooks__underline-m-center">THEME FEATURES</h3>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<img class="tile__pic-in" src="./img/stars.png">
					<h4 class="h4 tile__header">cdkcomp</h4>
					<p class="tile__content">Thx for clean code, simple theme management and your good and fast support. Theme installed with demo content in minutes. Liked your comments on all functions. All what i need in my project in this theme. Very important for my site - only must have PLUGINS, and this is what i get from this theme... Respect friends... </p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<img class="tile__pic-in" src="./img/stars.png">
					<h4 class="h4 tile__header">photosova</h4>
					<p class="tile__content">I purchased Brooks Theme for my Porfolio: I've been involved in photographi for a long time  and now I wanna create my own web site. Availability of different grids given to understand that I will find what is perfectly fits for me. Also pleased with the variety of the main page with a slider Revolution. Thanks you.  </p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<img class="tile__pic-in" src="./img/stars.png">
					<h4 class="h4 tile__header">steve_chicago</h4>
					<p class="tile__content">I've bought this wp template and was pretty surprised. I think this is the best investment of my money. Shop like enchanting way to immerse into e-commerce. Popups, product's tile seems were designed for my office furniture. Guys, thx a lot ... will buy in future only your themes. Best regards, Steve!</p>
				</div>
			</div>
		</div>
	</div>
</section> 
