<section id="two__colomns2" class="two__colomns">
	<div class="two__colomns-in container">
		<div class="row">
			<div class="col-sm-6">
				<img  class="resp100w" src="img/demo.png" alt="">
			</div>
			<div class="col-sm-6 js-animate">
				<h3 class="h3 two__colomns__header brooks__underline-g">ONE CLICK DEMO</h3>
				<p class="h4">Easiest and fastest way to build your website, one click imports pages, posts, sliders, widgets, theme options and more! </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 js-animate">
				<div class="tile animated">
					<div class="tile__pic"><img class="tile__pic-in" src="./img/setting.png" srcset="./img/setting.png 1x, ./img/setting@2x.png 2x"></div>
					<div class="tile__desc">
						<h4 class="tile__header">HIGHLY CUSTOMIZABLE</h4>
						<p class="tile__content">Select from the predefined site skins, it doesn’t matter what is the purpose of the site, BROOKS is made for everyone.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 js-animate">
				<div class="tile animated">
					<div class="tile__pic"><img class="tile__pic-in" src="./img/res.png"  srcset="./img/res.png 1x, ./img/res@2x.png 2x"></div>
					<div class="tile__desc">
						<h4 class="tile__header">RESPONSIVE DESIGN</h4>
						<p class="tile__content">Works perfectly with any device on any desktop, tablet or smartphone with all the touch sensors. </p>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-sm-6 js-animate">
				<div class="tile animated">
					<div class="tile__pic"><img class="tile__pic-in" src="./img/speed.png"  srcset="./img/speed.png 1x, ./img/speed@2x.png 2x"></div>
					<div class="tile__desc">
						<h4 class="tile__header">HIGH SPEED PERFORMANCE</h4>
						<p class="tile__content">The quality code and minifying is what makes the theme work on high performance, tested in many online speed testers.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-6 js-animate">
				<div class="tile animated">
					<div class="tile__pic"><img class="tile__pic-in" src="./img/clean.png"  srcset="./img/clean.png 1x, ./img/clean@2x.png 2x"></div>
					<div class="tile__desc">
						<h4 class="tile__header">CLEAN CODED</h4>
						<p class="tile__content">Carefully coded and well organized code that even a normal user can see the way BROOKS has been built from the coders.</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	 
</section>
