<section id="features" class="features">
	<div class="features-in container">
		<div class="row">
			<h3 class="h3 features__header brooks__underline-m-center">THEME FEATURES</h3>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/parallax.png"></div>
					<h4 class="h4 feature__header">Parallax Effect Backround</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/seo.png"></div>
					<h4 class="h4 feature__header">SEO optimized</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/rtl.png"></div>
					<h4 class="h4 feature__header">Right To Left</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/contact_form.png"></div>
					<h4 class="h4 feature__header">Contact Forms Ready</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/colors.png"></div>
					<h4 class="h4 feature__header">Unlimited colors</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/map.png"></div>
					<h4 class="h4 feature__header">Styled Customazible Google Maps</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/css.png"></div>
					<h4 class="h4 feature__header">Awesome CSS3 Animation</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/video.png"></div>
					<h4 class="h4 feature__header">Video Background</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/illust.png"></div>
					<h4 class="h4 feature__header">Awesome illustration pack</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/document.png"></div>
					<h4 class="h4 feature__header">Extensive Documentation</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/wpml.png"></div>
					<h4 class="h4 feature__header">WPML</h4>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="tile">
					<div class="feature__pic"><img class="feature__pic-in" src="./img/options.png"></div>
					<h4 class="h4 feature__header">Powered WEB Options Panel</h4>
				</div>
			</div>
		</div>

	</div>
</section>
