<section id="footer" class="footer">
	<div class="footer-in container">

		<div class="row">
			<div class="col-sm-8">
				<p class="footer-note">Brooks theme comes with an extensive help file to help you understand how it works. We ensures your installation will be smooth. </p>
			</div>
			<div class="col-sm-4">
				<div class="footer-button">
					<a href="#" class="brooks-btn enlarge-font">PURCHASE NOW</a>
				</div>
			</div>
		</div>

	</div>
	<div class="footer-bg">
		<!-- bg -->
	</div>
</section>