<section id="top" class="top__section">
	<div class="top__section-in container">
		<div class="top__header">
			<div class="row">
				<div class="col-sm-2">
					<img class="top__header-logo" src="img/logo.png" alt="">
				</div>
				<div class="col-sm-6">
					<h1 class="h1 top__header-sup">BROOKS THEME</h1>
					<h2 class="h2 top__header-sub">Brooks is a pixel perfect responsive theme for blog, portfolio, shop, etc.</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="top__header-button">
					<a href="#" class="brooks-btn enlarge-font">PURCHASE NOW</a>
				</div>
			</div>
		</div>

		<div class="top__section-over"> 
			<div class="top__section-over-in">
				<div class="row">
					<div class="col-sm-1">
					</div>
					<div class="col-sm-4"> 
						<img class=" top__dev top__dev1" src="img/tablet.png" alt="">
					</div>
					<div class="col-sm-2">
						<img class="top__dev top__dev2" src="img/phone.png" alt="">
					</div>
					<div class="col-sm-4">
						<img class="top__dev top__dev3" src="img/desktop.png" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="top__section-grad">
		<!-- gradient -->
	</div>
	<div class="top__section-bg">
		<!-- bg -->
	</div>
</section>