<section id="top" class="top__section">
	<div class="top__section-in container">
		<div class="top__header">
			<div class="row">
				<div class="col-md-1 ">
					<img class="animated top__header-logo" src="img/logo.png" srcset="./img/logo.png 1x, ./img/logo@2x.png 2x" alt="">
				</div>
				<div class="col-md-6 ">
					<h1 class="h1 top__header-sup animated ">BROOKS THEME</h1>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
					<p class=" top__header-sub animated">Brooks is a pixel perfect responsive theme for blog, portfolio, shop, etc.</p>
			</div>
			<div class="col-sm-12">
				<div class="top__header-button animated">
					<a href="#" class="brooks-btn enlarge-font">PURCHASE NOW</a>
				</div>
			</div>
		</div>

		<div class="top__section-over"> 
			<div class="top__section-over-in">
				<div class="row">
					<div class="col-sm-1">
					</div>
					<div class="col-sm-4"> 
						<img class=" top__dev top__dev1" src="img/tablet.png" srcset="./img/tablet.png 1x, ./img/tablet@2x.png 2x" alt="">
					</div>
					<div class="col-sm-2">
						<img class="top__dev top__dev2" src="img/phone.png" srcset="./img/phone.png 1x, ./img/phone@2x.png 2x" alt="">
					</div>
					<div class="col-sm-4">
						<img class="top__dev top__dev3" src="img/desktop.png" srcset="./img/desktop.png 1x, ./img/desktop@2x.png 2x" alt="">
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="top__section-grad">
		<!-- gradient -->
	</div>
	<div class="top__section-bg">
		<!-- bg -->
	</div>
</section> 