<section id="pages" class="pages">
	<div class="page__container">
		<div class="row">
			<h3 class="h3 pages__header brooks__underline-m-center">DIFFERENT PIXEL-PERFECT MAIN PAGES</h3>
		</div>
		<div class="row">
			<h4 class="h4 pages__header">STYLISH AND FULLY EQUIPPED DEMOS</h4>
		</div>
		<!-- begin row1  -->
		<div class="row  js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/property@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Property</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/architecture@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/home-architect/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Architecture</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/interior@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/home-interior/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Interior</p>
			</div>
		</div>


		<!-- end  -->
				<!-- begin row2  -->
		<div class="row  js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/home_architect_slider@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/home-architect-slider/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Home Architect Slider</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/gallery@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/gallery/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Gallery</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/portfolio_home@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/portfolio-home/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Portfolio Home</p>
			</div>
		</div>


		<!-- end  -->
				<!-- begin row2  -->
		<div class="row  js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/modern_shop@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/shop-assymetry/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Assymetry Shop</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/blog_main@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/blog-masonry/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Blog Main</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/under_construction@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/under-construction/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Under Construction</p>
			</div>
		</div>


		<!-- end  -->

				<!-- begin row3  -->
		<div class="row  js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/furniture_shop@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/shop-modern/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Modern Shop</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/404@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/404" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">404</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/about_us@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/about-us/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">About Us</p>
			</div>
		</div>


		<!-- end  -->

				<!-- begin row4  -->
		<div class="row  js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/architect_folio@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/architect-folio/	" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Architect Folio</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/app_home@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/app-home/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">App Home</p>
			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder animated">
					<img class="pages__pic" src="img/show_case@2x.png" >
					<a href="http://theme.iondigi.com/brooks/wordpress/homes-pages/show-case/" class="pages__pic-hover">
						<span class="pages__ref" >VIEW</span>
					</a>
				</div>
				<p class="pages__desc">Show Case</p>
			</div>
		</div>


		<!-- end  -->

		<!-- begin row5  -->

		<div class="row js-animate">
			<div class="col-sm-4">
				<div class="pages__pic-holder hidetile animated">
					<img class="pages__pic" src="img/rent@2x.png" >
				</div>

			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder hidetile animated">
					<img class="pages__pic" src="img/blog_music@2x.png" >
				</div>

			</div>
			<div class="col-sm-4">
				<div class="pages__pic-holder hidetile animated">
					<img class="pages__pic" src="img/creative@2x.png" >
				</div>

			</div>
		</div>


		<!-- end  -->

	</div>


</section>


<section id="page1" class="singlepage">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 singlepage__header-wraper margine__left">
				<h3 class="h3 singlepage__header brooks__underline-b">REAL ESTATE</h3>
			
				<p class="h4 singlepage__header-desc">Create awesome real estate website with Brooks theme. This theme includes advanced properties search functionality.Up to 3 location dropdowns are supported, pricing and testimonials</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<img class=" singlepage_est singlepage_est1" src="img/real_estate1.png" data-parallaxpages='{"delta":350,"shift":-1}' alt="">
			</div>
			<div class="col-sm-4">
				<img class=" singlepage_est singlepage_est2" src="img/real_estate2.png" data-parallaxpages='{"delta":300,"shift":-100}' alt="">
			</div>
			<div class="col-sm-4">
				<img class=" singlepage_est singlepage_est3" src="img/real_estate3.png" data-parallaxpages='{"delta":150,"shift":-180}' alt="">
			</div>
		</div>
	</div>
</section>


<section id="page2" class="singlepage">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 ">
			</div>
			<div class="col-sm-4 singlepage__header-wraper">
				<h3 class="h3 singlepage__header brooks__underline-m">EXCELLENT SHOP EXPERIENCE </h3>
			
				<p class="h4 singlepage__header-desc">Build your shop easily with the world’s best shopping plugin WooCommerce. Different types of clean and modern main page. Use such excellent functions as AJAX shopping cart, preview popup, wishlist and etc.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<img class=" singlepage_shop singlepage_shop1" src="img/expiriance_shop1.png" data-parallaxpages='{"delta":450, "shift":-10}' alt="">
			</div>
			<div class="col-sm-4">
				<img class=" singlepage_shop singlepage_shop2" src="img/expiriance_shop2.png" data-parallaxpages='{"delta":150,"shift":-195}' alt="">
			</div>
			<div class="col-sm-3">
				<img class=" singlepage_shop singlepage_shop3" src="img/expiriance_shop3.png" data-parallaxpages='{"delta":300,"shift": -70}' alt="">
			</div>
		</div>
	</div>
</section>

<section id="page3" class="singlepage">
	<div class="container">
		<div class="row">
			<div class="col-sm-5 singlepage__header-wraper">
				<h3 class="h3 singlepage__header brooks__underline-g">PORTFOLIO AND BLOG</h3>
				<p class="h4 singlepage__header-desc">Brooks comes with portfolio list and portfolio single templates made for showcaseing your awesome projects. Give your writing an extra pinch of style. Show the posts in different ways by using blog layouts. </p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<img class=" singlefolio singlefolio1" src="img/folio1.png" data-parallaxpages='{"delta":350,"shift":-1}' alt="">
			</div>
			<div class="col-sm-3">
				<img class=" singlefolio singlefolio2" src="img/folio2.png" data-parallaxpages='{"delta":300,"shift":-100}' alt="">
			</div>
			<div class="col-sm-4">
				<img class=" singlefolio singlefolio3" src="img/folio3.png" data-parallaxpages='{"delta":150,"shift":-180}' alt="">
			</div>
		</div>
		<div class="row">
			<div class="singlepages-lastrow">

				<div class="col-sm-6 singlepage__header-wraper">
					<h3 class="h3 singlepage__header brooks__underline-m">VIEW ALL DEMOS</h3>
				</div>
				<div class="col-sm-2">
					<div class="singlepages-buttom">
						<a href="#" class="brooks-btn enlarge-font">DEMOS</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> 