<section id="responsive" class="responsive">
	<div class="responsive-in container">
		<div class="row">
			<div class="col-sm-5 singlepage__header-wraper">
				<h3 class="h3 responsive__header brooks__underline-m">FULLY RESPONSIVE AND RETINA READY</h3>
				<p class="h4 responsive__header-desc">Look amazing an any device! Made for mobile with bootstrap grid. </p>
			</div>
		</div>
	
		<div class="row">
			<div class="responsive__dev-block">
				<div class="responsive__dev-block-in">
					<div class="col-sm-4">
					</div>
					<div class="col-sm-2 responsive__dev-out ">
						<img class="responsive__dev responsive__dev1" src="img/phone1.png" alt="">
					</div>
					<div class="col-sm-3 responsive__dev-out"> 
						<img class=" responsive__dev responsive__dev2" src="img/tablet1.png" alt="">
					</div>
					<div class="col-sm-4 responsive__dev-out">
						<img class="responsive__dev responsive__dev3" src="img/desktop1.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="responsive__bg-out">
		<div class="responsive__bg responsive__bg1"></div>
		<div class="responsive__bg responsive__bg2"></div>
		<div class="responsive__bg responsive__bg3"></div>
		<div class="responsive__bg responsive__bg4"></div>
		<div class="responsive__bg responsive__bg5"></div>
	</div>
</section>