<section id="two__colomns1" class="two__colomns">
	<div class="two__colomns-in container">
		<div class="row">
			<div class="col-sm-6">
					<div class="brooks__space"></div>
					<div class="row">
						<div class="col-sm-2">
							<div class="two__colomns__header  brooks__underline-m">
								<img  src="img/visual_composer.png" alt="">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<p >#1 drag &amp drop page builder in the market. Adding various content and page elements by dragging them into place. Creating custom pages really couldn’t be any easier.</p>
						</div>
					</div>
			</div>
			<div class="col-sm-6">
				<img class="two__colomns-logo" src="img/visual_composer-admin.png" alt="">
			</div>
		</div>

	</div>

</section>


