<section id="why" class="why">
	<div class="why-in container">
		<div class="row">
			<h1 class="h1 why__header ">WHY BROOKS THEME?</h1>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="tile">
					<div class="tile__pic">
						<img class="tile__pic-in" src="./img/doc_list.png" srcset="./img/doc_list.png 1x, ./img/doc_list@2x.png 2x">
						<h4 class="h4 tile__header">EXTENSIVE DOCUMENTATION</h4>
					</div>
					<p class="tile__content">Brooks theme comes with an extensive help file to help you understand how it works. We ensures your installation will be smooth. </p>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="tile">
					<div class="tile__pic">
						<img class="tile__pic-in" src="./img/support.png" srcset="./img/support.png 1x, ./img/support@2x.png 2x">
						<h4 class="h4 tile__header">SUPPORT AND UPDATES</h4>
					</div>
						<p class="tile__content">Our support team resolves any questions you may get. Need a feature that it is not yet inmplemented? Just let us know and we take care of that with an update.</p>
					
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="tile">
					<div class="tile__pic">
						<img class="tile__pic-in" src="./img/coding_free.png" srcset="./img/coding_free.png 1x, ./img/coding_free@2x.png 2x">
						<h4 class="h4 tile__header">NO CODING REQUIRED </h4>
					</div>
						<p class="tile__content">Brooks theme is easy for beginners and requires no programming skills to create a website. Use one of excellent templates, modify it with drag and drop interface. </p>
					
				</div>
			</div>
		</div>
	</div>
	<div class="why__bg-out">
		<div class="why__bg why__bg1" data-parallaxland='{"delta": -150, "startbg" : 25}' ></div>
		<div class="why__bg why__bg2" data-parallaxland='{"delta": 110, "startbg" : 50}' ></div>
	</div>
</section>